.Menu{
    display: flex;
    border: solid 2px #c7de12;
}
h1{
    color: white;
    text-shadow: -1px -1px 0px #000000, 0px -1px 0px #000000, 1px -1px 0px #000000, -1px 0px 0px #000000, 1px 0px 0px #000000, -1px 1px 0px #000000, 0px 1px 0px #000000, 1px 1px 0px #000000;
    text-decoration: none;
    transition: 0.4s;
}
a{
    text-decoration: none;
    color: #c7de12;
}
h1:hover{
    color: #c7de12;
    text-shadow: -1px -1px 0px white, 0px -1px 0px white, 1px -1px 0px white, -1px 0px 0px white, 1px 0px 0px white, -1px 1px 0px white, 0px 1px 0px white 1px 1px 0px white;
}
