.InpuSearch{
    color: white;
    background:#c7de12;
    width: 86%;
    font-size: 20px;
    height: 40px;
    border: solid 1px black;
    text-shadow: -1px -1px 0px #000000, 0px -1px 0px #000000, 1px -1px 0px #000000, -1px 0px 0px #000000, 1px 0px 0px #000000, -1px 1px 0px #000000, 0px 1px 0px #000000, 1px 1px 0px #000000;
}

.InpuSearch::placeholder {
    color: white;
  }
  .InpuSearch:focus{
    background:black; 
    border: solid 1px #c7de12;
  }
.buttonFind{
    height: 45px;
    margin-left: 20px;
    cursor: pointer;
    padding-top: 7px;
    border: solid 1px;
    width: 10%;
    background-color: #c7de12;
}
.buttonFind:hover{
    background-color: black;
    color:#c7de12;
    border:solid 1px #c7de12;
    }
.search{ 
    max-width: 1200px;
    margin: auto;
    margin-top:40px;
    margin-bottom: 40px;
}
.backgroundImages{
    background-image: url(../images/like2.png);
    background-size: auto;
    background-repeat: no-repeat;
    height: 200px;
 
}
.infinite-scroll-component {
    overflow: hidden !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.images{
    cursor:pointer;
    transition:0.3s;
    border: "solid 1px black";
    background-color: "#c7de12";
}
.images:hover{
    opacity:0;
}
h3{
    color: #c7de12;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.h3Style{
    text-decoration:underline;
}