h1{
    cursor: pointer;
    margin-left: 20px;
    color: white;
    text-shadow: -1px -1px 0px #000000, 0px -1px 0px #000000, 1px -1px 0px #000000, -1px 0px 0px #000000, 1px 0px 0px #000000, -1px 1px 0px #000000, 0px 1px 0px #000000, 1px 1px 0px #000000;
}
.list{
    border: solid 2px;
    margin-top: 40px;
    max-width: 1200px;
    margin: auto;
}
.StyleList{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #c7de12;
}
.infinite-scroll-component {
    height: auto;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    padding: 20px;
}
.LikeThis{
    height: 202px;
}
.images{
    cursor:pointer;
    transition:0.3s;
   
}
.images:hover{
    opacity:0;
}
p{
    font-size: 25px;
    text-shadow: -1px -1px 0px #000000, 0px -1px 0px #000000, 1px -1px 0px #000000, -1px 0px 0px #000000, 1px 0px 0px #000000, -1px 1px 0px #000000, 0px 1px 0px #000000, 1px 1px 0px #000000;
    color:white
}
p:hover{
    text-shadow: -1px -1px 0px white, 0px -1px 0px white, 1px -1px 0px white, -1px 0px 0px white, 1px 0px 0px white, -1px 1px 0px white, 0px 1px 0px white, 1px 1px 0px white;
    color:black
}
.backgroundImages{
    background-image: url(../images/like2.png);
    background-size: auto;
    background-repeat: no-repeat;
    height: 190px;
}
.backgroundDeleteImages{
    background-image: url(../images/delete.png);
    background-size: auto;
    background-repeat: no-repeat;
    height: 190px;
}
.footer{
    border: solid 2px #c7de12;
    margin-top: 40px;
    text-align: center;
}
.footer p {
    font-size: 25px;
    text-shadow: -1px -1px 0px #000000, 0px -1px 0px #000000, 1px -1px 0px #000000, -1px 0px 0px #000000, 1px 0px 0px #000000, -1px 1px 0px #000000, 0px 1px 0px #000000, 1px 1px 0px #000000;
    color: white;
}
.footer p:hover{
    color: white;
}
.footer h1 {
    font-size: 40px;
    text-shadow: -1px -1px 0px #000000, 0px -1px 0px #000000, 1px -1px 0px #000000, -1px 0px 0px #000000, 1px 0px 0px #000000, -1px 1px 0px #000000, 0px 1px 0px #000000, 1px 1px 0px #000000;
    color: white;
    cursor: auto;
}
.footer h1:hover{
    color: white;
}
.buttonFind{
    transition: 0.3s;
    border:solid 1px #c7de12;
}
.buttonFind:hover{
background-color: black;
color:#c7de12;
border:solid 1px #c7de12;
}


.root{
    background-color: black;
  }